<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Cronos Database Dump</title>
  </head>
  <body>
  {% for table in db.enumerate_tables() %}
    <table>
      <caption>{{ table.tablename }}</caption>
      <thead>
        <tr>
        {%- for field in table.fields %}
          <th>{{ field.name }}</th>
        {%- endfor %}
        </tr>
      </thead>
      <tbody>
        {%- for system_number, record in db.enumerate_records( table ) %}
        <tr>
            <td>{{ system_number }}</td>
          {%- for field in record %}
            <td>{{ field }}</td>
          {%- endfor %}
        </tr>
        {%- endfor %}
      </tbody>
    </table>
    {% endfor %}
  </body>
</html>
